<!DOCTYPE html>
<html>

<head>
  <meta charsetfd="ISO-8859-1" />
  <title>Insert title here</title>

  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link href="css/floating-labels.css" rel="stylesheet">

</head>

<body>
  <form class="form-signin">
    <div class="text-center mb-4">
      <p>Build form control</p>
    </div>

    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>

    <div class="form-label-group">
      &nbsp;
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  </form>
</body>

</html>