<!DOCTYPE html>
<html>

<head>
  <meta charsetfd="ISO-8859-1" />
  <title>Insert title here</title>

  <link href="css/floating-labels.css" rel="stylesheet">


  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/webjars/jquery/3.4.1/jquery.js"></script>
  <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>



  <form class="form-signin" method="POST" enctype="multipart/form-data">
    
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p th:text="${message}" />
    </div>

    <div class="text-center">
      <h1>Upload de arquivos</h1>
    </div>

    <div class="form-label-group">
      &nbsp;
    </div>


    <div class="form-label-group">
      <input type="file" name="file" />
    </div>

    <div class="form-label-group">
      &nbsp;
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar" />

    <div>
      <ul>
        <li th:each="file :${files}">
          <a th:href="${file}" th:text="${file}"></a>
        </li>
      </ul>

    </div>

  </form>
</body>

</html>